#navbar{
    height: 330px;
    position: relative;
}

#navbar-container{
    flex-direction: column;
    padding: 20px 0;
}

#navbar-items{
    flex-direction: column;
    text-align: center;
    width: 100%;
}

/* Essse proximo comando aplica efeito apenas na linha (2) conforme esta entre o parentes */

#navbar-items li:nth-child(n + 2){
    border-top: 1px solid #ee22a4;
    border-bottom: 1px solid #ee22a4;
}

/*  showcase  */

#showcase{
    padding: 40px;
}

/*  clients  */

#clients-container{
    padding-top: 50px;
    grid-template-columns: repeat(2, 1fr);
}

.client{
    width: 50%;
    padding: 20px 0;
}

/*   features  */

#features{
    height: auto;
}

#features-container{
    grid-template-columns: 1fr;
}

#features-container .features:nth-child(2){
    margin: 15px 0;
}

/*   sobre sorvetes   */

#product{
    height: auto;
}

#product-container{
    flex-direction: column;
}

#items{
    width: 90%;
}

.item{
    margin: 0 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* testemunials */

#testimonials{
    height: auto;
}

.testimunials{
    flex-direction: column;
    text-align: center;
}

/*   galeria   */

#galery{
    height: auto;
}

#galery-container{
    grid-template-columns: 1fr;
}

.galery-imagem{
    width: 100%;
}